<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random chat</title>
</head>
<body>
    <div>
        <div style="float: left; margin: 20px">
            <form action="" method="post" name="chat">
                {{form.hidden_tag()}}
                {{form.text(size=25)}}<br/>
                <input type="submit">
            </form>
        </div>
        <div style="float: left">
			<p><strong>Chat log:</strong></p>
            {% for m in messages %}
            <p>{{ m }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
